In [9]:
import pandas as pd
import numpy as np
import os 
from scipy import stats
from scipy.stats import chi2_contingency

In [2]:
data= pd.read_csv(r"C:\\Users\\Adith\\Desktop\\Data Science_Excel R\\home assignments\\Hypothesis Testing\\BuyerRatio.csv")

In [3]:
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
#our null hypothesis is independence of categorical variables
#our alternate hypothesis is dependence of all categorical variables 
#since our data is categorical we use the chi square hypothesis

In [4]:
#converting to dimensional array
obv=np.array([[50,142,131,70],[435,1523,1356,750]])
obv

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [10]:
#chi2 contingency independent test

chi2_contingency(obv)#//(outcome: chi2 value,p_value,degrees of freedom and expected observation)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
#since our p value is less than the given significant value is more so we accept our null hypothesis
# and reject our alterntive hypothesis, this also states that proportion of sales of products between males and females
#at all four region are equal.