In [6]:
import pandas as pd
import numpy as np 
from scipy import stats
from scipy .stats import norm
from scipy.stats import chi2_contingency

In [2]:
data= pd.read_csv(r"C:\\Users\\Adith\\Desktop\\Data Science_Excel R\\home assignments\\Hypothesis Testing\\Costomer+OrderForm.csv")

In [3]:
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
#our null hypothesis is defective percentage does not varies by center
#our alternative hypothesis is defective percentage does varies by center 
#since all are variables are categorical we use the chi square hypothesis

In [8]:
#calculating the value counts of every country
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [10]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
#converting to dimensional array 
obv= np.array([[271,267,269,280],[29,33,31,20]])
obv

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [14]:
#chi2 contingency independence test
chi2_contingency(obv)#(outcome: chi stat value,p_value,df,observations)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
#since the p value is more than our significant value we reject our alternative hypothesis and accept our null hypothesis,
#this states us that customer order forms defective percentage does not varies by center.